.todo-item-card-wrapper {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: -1px;

    .todo-item-card-wrapper__name{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: calc(100% - 3rem);
    }
    .todo-item-card-wrapper__delete-button{
        background-color: rgb(194, 0, 0);
        width: 2rem;
        height: 2rem;
        padding: 0;
        border-radius: 0;
    }
}

.awaits {
    background-color: rgb(231, 231, 231);
}

.in-process {
    background-color: rgb(69, 125, 255);
}

.done {
    background-color: rgb(57, 255, 77);
}
